.p-header {
    height: 100px;
}

.p-img-header {
    height: 100px;
}

.inline-control {
    display: inline;
    width: 50px;
}

@media (min-width: 992px) {
    #basket.affix {
        margin-left: 61.66666666666666%;
        top: 0px;
        width: 31%;
    }
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.total-order {
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-pizza-img-div {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .main-pizza-img-div img {
        height: 402px;
    }
}

.pizza-name {
    margin-bottom: 5px;
    font-size: 16px;
}

.pizza-ingredients {
    font-size: 13px;
}