<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<div class="row p-header">
    <a class="brand" href="/"> <img class="img-responsive p-img-header" alt="Pizzeria"
                                    src="<c:url value="/resources/img/pizza.svg"/>"></a>
</div>